*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
     
}

body{
    background: #081A2E;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    height: 120px;
    background: #081A2E;
    background-image: url(news.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: sticky;
    top: 0; */
}


nav img{
    width: 9rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D2FF33;
    border-radius: 30px;
    height: 50px;
    padding: 20px;
   
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;    
}

.navbar ul li{
    font-size: 18px;
    color: #fff;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.8s ease;
}

.navbar ul li a:hover{
    color: #D2FF33;
}
/* .navbar ul li a:visited{
    color: #D2FF33;
} */

.nav-btn{
    width: 150px;
    background-color:#D2FF33;
    color: #081A2E;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    margin-right: -10px;
    padding: 6px;
    transition: all 1s ease;
}

.nav-btn:hover{
    background-color: #fff;
    box-shadow:  grey 0px 0px 2px 2px;
    transform: scale(1.1);
}

.nav-mobile{
    width: 100%;
    display: flex;
    padding: 20px 6%;
    justify-content: space-between;
    display: none;
    background-image: none;
}
.img1{
    width: 8rem;
}

.img2{
    width: 2rem;
}

@media (min-width:300px) and (max-width:900px){
    nav{
        display: none;
    }
    .navbar{
        display: none;
    }
    nav img{
        display: none;
    }
    .nav-mobile{
        display:inline-flex;
        background-color: #ECEFF1;
    } 
}

/* -----------hero section-------------- */

#hero-container{
    width: 100%;
    padding: 140px 6% 40px ;
    display: flex;
    height: 100vh;
    background-image: url(news.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.left-hero {
    width: 100%
}

.creativity p{
    display: block;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.left-hero p{
    font-size: 1.2rem;
    color: #fff;
}

.structure{
    font-size: 4rem;
    font-weight: 500;
}

.tech-text{
    color: #D2FF33;
    font-weight: 800;
    font-size: 5rem;
}

.tech-text1 {
    color: #D2FF33;
    font-weight: 800;
    font-size: 5rem;
}

.stunning{
    width: 47%;
}

.creativity{
    margin-bottom: 1.3rem;
    animation: slide 1.4s 1 reverse;
}

.creativity .creat-p{
    line-height: 1.6rem;
    animation: slide 1.8s 1 reverse;
}
.hero-btn{
    width: auto;
    height: auto;
    font-size: 1.6rem;
    color: #081A2E;
    background-color: #fff;
    border-radius: 25px;
    padding: 1rem;
    margin: 3rem 0;
    transition: all 1s ease;
    border: none;
}

.hero-btn:hover{
    background-color: #D2FF33;
    color: #081A2E;
    box-shadow:  grey 0px 0px 2px 2px;
    transform: scale(1.1);
}


@media (min-width:300px) and (max-width:900px){
    body{
        background: #081A2E;
    }
    #hero-container{
        flex-wrap: wrap;
        flex-shrink: inherit;
        margin-top: -180px;
        height: auto;
        background-image: url(heromobile2.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .structure{
        font-size: 3.5rem;
    }
    .tech-text{
        font-size: 4rem;
    }
    .tech-text1{
        font-size: 4rem;
    }
    
    .stunning{
        width: 100%;
    }
}

/* ..........what we do.............. */

#what-we-do{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 5rem 6% 2rem;      
}

.what-we-do-pa{
    width: 37%;
}

#what-we-do p{
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.4rem;
}

#what-we-do h3{
    font-size: 2.4rem;
    margin-bottom: 14px;
    font-weight: 500;
}

#what-we-do h3 span{
    color: #D2FF33;
}

.what-we-do-cont{
    width: 100%;
    display: flex;
    gap: 2%;
}

.we-do-box{
    width: 33%;
    height: 18rem;
    background: #ECEFF1;
    border-radius: 18px;
    margin-top: 2rem;
    padding: 3rem 4%; 
    cursor: pointer;
    transition: all 1s ease; 
}

.we-do-box:hover{
    border: 2px solid #D2FF33;
    background-color: #081A2E;
    box-shadow: grey 0px 0px 2px 2px;
    transform: scale(1.1);
}

.we-do-box:hover h4{
    color: #D2FF33;
}

.we-do-box:hover p{
    color: #fff;
}

.we-do-box h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #081A2E;
}

.we-do-box p{
    font-size: 1rem;
    font-weight: 500;
    color: #475569;
    line-height: 1.4rem;
}

/* .......................services page.......................... */

#our-services{
    padding: 4rem 6%;
}
.our-services{
    color: #fff;
    width: 60%;
    line-height: 1.4rem;
    font-weight: 350;
}
.our-services h2{
    color: #D2FF33;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.servImage img{
    width: 100%;
    height: 70vh;
}
.build{
    margin: 4rem 0;
    color: #fff;
    width: 50%;
    line-height: 1.4rem;
    font-weight: 350;
}
.build h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem ;
}
.build h2 span{
    color: #D2FF33;
}
.serv-box-container{
    width: 100%;
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
}
.serv-box{
    width: 25%;
    height: 15rem;
    background: #D2FF33;
    padding: 2rem;  
    border-radius: 15px;
    line-height: 1.3rem;
    font-weight: 350;
    display: flex;
    flex-direction: column;
    color: #081A2E;
    margin-bottom: 6rem;
    cursor: pointer;
    transition: all 1s ease;
}
.serv-box h2{
    color: #081A2E;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.serv-box:hover{
    border: 2px solid #D2FF33;
    background-color: #081A2E;
    box-shadow: grey 0px 0px 2px 2px;
    transform: scale(1.1);
    color: #ECEFF1;
}
.serv-box:hover h2{
    color: #D2FF33;
}

@media (min-width:300px) and (max-width:900px){
    .what-we-do-cont{
        flex-wrap: wrap;
    }
    .we-do-box{
        width: 100%;
    }
    .what-we-do-pa{
        width: 100%;
    }
    .our-services{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .build{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .build h2{
        line-height: 2.2rem
    }
    .serv-box-container{
        flex-wrap: wrap;
        /* gap: 0.5%; */
    }
    .serv-box{
        width: 100%;
    }
    .servImage img{
        height: 50vh;
    }
    
}

/* ..........about us........... */

#about-us{
    display: flex;
    height: 100vh;
    background: #ECEFF1;
    padding: 50px 6%;

}

.about-us-right{
    width: 46%;
    padding-top: 85px;
}

.about-us-right h4{
    font-size: 2rem;
    color: #081A2E;
    margin-bottom: 2rem;
}

.about-us-right p{
    font-size: 1.2rem;
    color: #0a0a0a;
    line-height: 35px;
}
.about-us-left{
    width: 55%;
    border-radius: 20px;
    padding: 30px;
}

.about-us-left img{
    width: 80%;
    height: 97%;
    border-radius: 20px;
    transition: all 1s ease;
    animation: slide 1.3s 1 reverse;
}
/* ...................about page................... */
#about{
    background-color: #081A2E;
    padding-top: 6rem;
}
.about-h{
    display: flex;
    gap: 2%;
}
.about-cont{
    background-color: #081A2E;
    padding: 1rem 6%;
    width: 60%;
}
.about-img-cont{
    width: 40%;
    padding: 1rem 6%;
    
}
.about-img-cont img{
    border-radius: 15px;
    width: 100%;
}
.about-cont h2{
    color: #D2FF33;
    line-height: 4rem;
    font-size: 2.5rem;
    
}
.about-cont h2 span{
    color: #ECEFF1;
}
.about-cont p{
    color: #ECEFF1;
    line-height: 1.4rem;
    font-weight: 350;
    font-size: 1rem;
}
.about-btn{
    font-size: 1.3rem;
}
.about-btn img{
    width: 2rem;
    background-color: #D2FF33;
    border-radius: 50%;
}
.work-w{
    display: flex;
    align-items: center;
    gap: 5px;
}

.values{
    padding: 2rem 6%;
    color: #D2FF33;
    line-height: 4rem;
    font-size: 1.7rem;
}
.values span{
    color: #ECEFF1;
}
.our-approach{
    width: 100%;
    padding: 1rem 6%;
    display: flex;
    gap: 2%;
}
.approach-box{
    width: 32%;
    background-color: #D2FF33;
    border-radius: 15px;
    color: #081A2E;
    padding: 2rem; 
    font-weight: 350;
    transition: all 1s ease;
    margin-bottom: 4rem;
}
.approach-box h2{
    line-height: 4rem;
}
.approach-box p{
    line-height: 1.4rem;
}
.approach-box:hover{
    border: 2px solid #D2FF33;
    background-color: #081A2E;
    box-shadow: grey 0px 0px 2px 2px;
    transform: scale(1.1);
    color: #ECEFF1;
}
.approach-box:hover h2{
    color: #D2FF33;
}
#about hr{
    margin: 1rem 6%;

}

@keyframes slide{
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-700px);
    }

}

@media (min-width:300px) and (max-width:900px){
    #about-us{
        flex-wrap: wrap;
        height: auto;
    }

    .about-us-right{
        width: 100%;
    }

    .about-us-left{
        width: 100%;
        padding: 10px;
    }
    .about-us-left img{
        width: 100%;
        height: 100%;
    }
    .about-h{
        flex-wrap: wrap;
    }
    .our-approach{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .approach-box{
        width: 100%;
    }
    .about-cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
        align-items: center;
    }
    .about-img-cont{
        width: 100%;
        padding: 1rem 6%; 
    }
    .values{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
}

/* ..........get-to-know............ */

.get-to-know{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom right,#000102, #729101  );
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    padding: 8rem 6%;
    color: #Dfff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-know-top {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.get-know-top h2{
    font-size: 3.4rem;
    margin-bottom: 20px;
    color: #fff;
    line-height: 3.7rem;
}
.get-know-top h2 span{
    color: #D2FF33;
}

.get-know-top p{
    font-size: 1rem;
    color: #fff;
    line-height: 1.4rem;
}

.get-know-bottom{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.get-know-bottom .hero-btn{
    width: auto;
    height: auto;
    padding: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}


.get-btn{
    background-color: #081A2E;
    color: #fff;
}

@media (min-width:300px) and (max-width:900px){
    .get-to-know{
        padding: 3rem 6%;
    }
    .get-know-top{
        width: 100%;
    }
    .get-know-top h2{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .get-know-bottom{
        flex-wrap: wrap;
    }
    .call-btn{
        display: none;
    }

}

/* ..........portfolio.............. */

#our-portfolio{
    width: 100%;
    background: #ECEFF1;
    padding: 50px 6% 20px 6%;
}

#our-portfolio h5{
    font-size: 2.2rem;
    color: #081A2E;
}

.portfolio{
    width: 100%;
    background-color: #ECEFF1;
    padding: 15px 6%;
    display: flex;
    gap: 2%;
}

.portfolio-cont{
    width: 33%;
    border: 2px solid #081A2E;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #081A2E;
    color: #fff;
    transition: all 1s ease;
}

.portfolio-cont:hover{
    box-shadow: grey 0px 0px 2px 2px;
    transform: scale(1.1);
}

.portfolio-cont img{
    width: 100%;
    height: 70%;
    margin-bottom: 30px;

}

.vid-cont{
    width: 100%;
    height: 60vh;
    background-color: #ECEFF1;
    display: flex;
    gap: 2%;
    padding: 30px 6% ;
    text-align: center;
}

.vid-cont video{
    margin-bottom: 20px;
}

.vid-holder{
    border: 2px solid #081A2E;
    background-color: #081A2E;
    color: #fff;
    transition: all 1.4s ease;
}

.vid-holder:hover{
    box-shadow: grey 2px 2px 7px 7px;
    transform: scale(1.1);
}

.portfolio-btn{
    background-color: #ECEFF1;
    width: 100%;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.port-btn{
    font-size: 1.3rem;
    transition: all 1s ease;
}
.port-btn:hover{
    box-shadow: grey 2px 2px 7px 7px;
    transform: scale(1.1);
}

@media (min-width:300px) and (max-width:900px){
    .portfolio{
        flex-wrap: wrap;
        gap: 1.5rem; 
    }
    .portfolio-cont{
        width: 100%;
    }

    .vid-cont{
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .portfolio-btn{
        padding-top: 2rem;
        justify-content: center;
    }
    .p-div{
        padding-bottom: 1.2rem;
    }
    #our-portfolio h5{
        font-size: 1.8rem;
    }
}

/* ................footer............. */

footer{
    width: 100%;
    height: auto;
    padding: 25px 6%;
    display: flex;
    gap: 3%;
    margin-bottom: 1rem;
}

.footer-cont{
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #ECEFF1;
    gap: 1rem;
    
}

.footer-cont1{
    width: 35%;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
    color: #ECEFF1;
    padding-bottom: 25px;
    gap: 10px;
}

.footer-cont1 img{
    width: 9rem;
}

.footer-cont h3 a{
    color: #D2FF33;
}

.footer-cont h3 a:hover{
    color: #ECEFF1;
}

.footer-cont p a{
    color: #ECEFF1;
}

.footer-cont p a:hover{
    color: #D2FF33;
}

.footer-p{
    padding-top: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container{
    width: 100%;
    height: 6vh;
    padding: 0 6%;
    color: #ECEFF1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width:300px) and (max-width:900px){
    footer{
        flex-wrap: wrap;
        gap: 2%;
    }
    .footer-cont1{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer-cont{
        width: 30%;
        font-size: 0.8rem;
    }
    .container{
        font-size: 0.77rem;
        font-weight: 300;
    }
}




